<!DOCTYPE html>
<html>
    <body>
        Hello! This is a site for Covid-19 plots.
        <br> On the next page, you can choose a country.
        <br> Program will show plot of chosen country and four other countries from the same continent.
        <br> The data source is:
        https://data.europa.eu/euodp/en/data/dataset/covid-19-coronavirus-data
        <br> Covid-19 data file date: 20.08.2020 
        <br>
        <a href="{{ url_for('country_form') }}">Countries and Cases bar graphs</a>
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
        <br> Last updated: 22.08.2020 
        <br> Programmed in Python 3.7 by Aditya Kelekar, an IT engineer and hobby programmer, at Helsinki, Finland.
        <br> The code and the project development plan can be viewed at https://github.com/adikele/covid-19-visualizations.
        <br> Please write to Aditya at adityakelekar@yahoo.com if you would like to contribute to this project.
        <br> Also, all suggestions are welcome. 
        <br> Thank you for visiting this project!
    </body>
</html>